<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <br/><br/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cool Projects</h4>
                    <p class="text-muted"> Our drive for learning defines us. Nothing beats doing a project  for the pure fun of it. Be it building your own assembly line with a robotic arm or building an interactive game with kinect you can count us in.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Worshops and Knowledge Transfer</h4>
                    <p class="text-muted">We strive to conduct hands on workshops introducing you to IOT, Image Processing, Robotics , PCB's and more. We also urge you to volunteer to teach others in subjects that we are blissfully ignorant since volunteerism and knowledge transfer are the most important aspects of any Makerspace. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MakerSpace</h4>
                    <p class="text-muted">A Kossel 3D Printer coupled with a plethora of sensors and drilling tools will facilitate you in rapid prototyping. Also the generous array of microcontrollers ranging from BeagleBone Blacks to Intel Galeleo will equip you with all the firepower neccessary to meet your projects head-on.</p>
                </div>
            </div>
        </div>
    </section>